<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @contato.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @contato.telefone %>
</p>


<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
