<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @categorium.name %>
</p>

<p>
  <b>Description:</b>
  <%= @categorium.description %>
</p>


<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
